# tested with crosstool-ng git baseline d3e77cd9d13f

CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_ARCH_RISCV=y
CT_ARCH_ARCH="rv32imc_zicsr_zifencei"
CT_ARCH_ABI="ilp32"

# enable gdb
CT_DEBUG_GDB=y

# disable C-library
CT_LIBC_NONE=y

# optional: customize paths
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/.src"
CT_WORK_DIR="${CT_TOP_DIR}/.build"
CT_BUILD_TOP_DIR="${CT_WORK_DIR:-${CT_TOP_DIR}/.build}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_BUILD_DIR="${CT_BUILD_TOP_DIR}/build"
CT_PREFIX_DIR="${HOME}/devel2/tools/x-tools/riscv32-unknown-elf"

